<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido, {{ user.username }}</h1>
    
    <!-- Mostrar los botones solo si el usuario es administrador -->
    {% if user.is_superuser %}
        <a href="{% url 'registrar_usuario' %}"><button>Registrar Usuario</button></a>
        <a href="{% url 'crear_dependencia' %}"><button>Registrar Dependencia</button></a>
        <a href="{% url 'crear_empresa' %}"><button>Crear Empresa</button></a>
        <a href="{% url 'lista_correspondencia' %}"><button>Correspondencia</button></a>
    {% endif %}

    <!-- Todos los usuarios pueden ver el botón de registrar correspondencia -->
    <a href="{% url 'registro_correspondencia' %}"><button>Registrar Correspondencia</button></a>

    <!-- Cerrar sesión -->
    <a href="{% url 'logout' %}"><button>Cerrar Sesión</button></a>
</body>
</html>
