<form method="post">
    {% csrf_token %}
    <label for="username">Nombre de Usuario:</label>
    <input type="text" name="username" required>

    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>

    <label for="empresa">Empresa:</label>
    <select name="empresa">
        {% for empresa in empresas %}
            <option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
        {% endfor %}
    </select>

    <button type="submit">Crear Usuario</button>
    
</form>

<a href="{% url 'portada' %}"><button>Volver a la Portada</button></a>
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
