<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjuntar Documento</title>
</head>
<body>
    <h1>Adjuntar Documento a la Correspondencia {{ correspondencia.consecutivo }}</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="id_documento">Documento:</label>
            {{ form.documento }}
            {{ form.documento.errors }}
        </p>
        <button type="submit">Adjuntar</button>
    </form>
    
    <a href="{% url 'registro_correspondencia' %}"><button>Volver</button></a>
    
</body>
</html>
