{% extends 'base.html' %}

{% block content %}
<h2>Lista de Correspondencia</h2>
<table>
    <tr>
        <th>Consecutivo</th>
        <th>Tipo</th>
        <th>Dependencia</th>
        <th>Fecha</th>
        <th>Usuario</th>
    </tr>
    {% for correspondencia in correspondencias %}
    <tr>
        <td>{{ correspondencia.consecutivo }}</td>
        <td>{{ correspondencia.tipo }}</td>
        <td>{{ correspondencia.dependencia }}</td>
        <td>{{ correspondencia.fecha }}</td>
        <td>{{ correspondencia.user.username }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
